.footer {
  padding: 2rem;
  font-size: 15px;
  color: #9ca3af;
  background: var(--header-footer-color);
}

@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-justify-between {
    justify-content: space-between;
  }

  .copyright {
    text-align: left;
  }
}