:root {
    --header-footer-color: #b33e5c;
  }

body {
    font-family: Arial, sans-serif;
}

button {
    font-size: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}